<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <add name="WeatherDB" connectionString="Data Source = WeatherDatabase.db"  providerName="Mysql.Data.SQLite" />
  </ConnectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

</configuration>